.container {
    background-color: green;
    height: calc( 100vh - 64px );
}

.modal{
    height: calc( 100vh - 64px );
    position: absolute;
    background: #fff;
    top:  64px ;
    left: 10%;
    overflow:auto;
    right: 10%;
}
