
:root {
  --filterPadding: 10px;
}


.flex{
    display:flex;
}
.container{
    background-color: red;
    padding: var(--filterPadding);
    height: 150px;
}

.uf{
    width: 30%;
}
.keyword{
    width: 70%;
}
