.page{
    height: calc( 100vh - 64px);
    position: absolute;
    width:100vw;
    top:64px;

}

.container {
    position: relative;
    height: calc(100vh - 72px - 64px);
    background-color: silver;
    overflow: hidden;
}
.tabs {
    color: red;
    position: fixed;
    width: 100vw;
    bottom: 0;

}
