.container{
    height: calc(100vh - 72px - 64px );
    width: 100vw;
    background-color: whiteSmoke;
    position:absolute;
    overflow: auto;
}
.form {padding: 30px;}
.flex{display: flex;}


.dez{width: 10%;}
.vinte {width: 20%;}
.trinta {width: 30%;}
.quarenta{width: 40%;}
.cinquenta{width: 50%;}
.sessenta{width: 60%;}
.setenta{width: 70%;}
.oitenta{width: 80%;}
.noventa{width: 90%;}
