.container{
    width: 100vw;
    height: calc( 100% - 170px );
    overflow:auto;
}

.containerHidden{
    width: 100vw;
    height: calc( 100% - 36px );
    overflow:auto;
}


.test {
    background-color: #B22222;
}
