.shirinkedList{
    width: calc( 100vw - 40px);
    padding-right: 20px;
    padding-left: 20px;
    height: calc( 100% - 185px );
    overflow:auto;
}

.fullList{
    width: 100vw;
    height: calc( 100% - 36px);
    overflow:auto;
    width: calc( 100vw - 40px);
    padding-right: 20px;
    padding-left: 20px;
}

.flex{
    display:flex;
    flex-wrap:wrap;
}
.image {
    width: 20%;
    img{
	max-width: 100%;
    }
}

.body{
    width: 80%;
}
